<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.Common.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.Common.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmail</servlet-name>
        <servlet-class>Controller.Common.VerifyEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyResetEmail</servlet-name>
        <servlet-class>Controller.Common.VerifyResetEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Controller.Common.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>Controller.Common.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmail</servlet-name>
        <url-pattern>/VerifyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyResetEmail</servlet-name>
        <url-pattern>/VerifyResetEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SliderDetailServlet</servlet-name>
        <servlet-class>Controller.Marketing.SliderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSliderServlet</servlet-name>
        <servlet-class>Controller.Marketing.InsertSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSliderServlet</servlet-name>
        <servlet-class>Controller.Marketing.EditSliderServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SliderDetailServlet</servlet-name>
        <url-pattern>/SliderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSliderServlet</servlet-name>
        <url-pattern>/EditSliderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSliderServlet</servlet-name>
        <url-pattern>/InsertSliderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SliderServlet</servlet-name>
        <servlet-class>Controller.Marketing.SliderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SliderServlet</servlet-name>
        <url-pattern>/SliderServlet</url-pattern>
    </servlet-mapping>
</web-app>
